:local(.categoryItem) {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 90vw;
  position: relative;
  right: 30px;

  .category {
    font-size: 16px;
    position: relative;
    top: 5px;
    left: 3px;
  }
}