:local(.categories) {

  h1 {
    color: #2c3e50;
  }

  li {
    list-style: none;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .categories {
    padding-left: 0px;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(20px, 1fr));
    grid-gap: 10px;
  }

  .category-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .budget {
    align-self: flex-end;
  }
}