@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

a {
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 4px;
  padding:5px;
  margin: 2px;
  display: block;
  width: 60px;
}

a:hover {
  background-color: lavender;
}

a:active { 
  background-color: yellow;
}

body {
  font-family: 'Oswald', sans-serif;
}

button {
  width: 80px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
  background-color: #73a9db;
  padding: 6px;
  opacity: 0.8;
}

button:hover {
  opacity: 1;
}

input {
  padding: 2px 6px 2px 6px;
  font-size: 16px;
  margin-left: 8px;
  border-radius: 4px;
}
input:hover {
  background-color: rgb(245, 185, 190);
}

label, p {
  font-size: 18px;
}

ul {
  list-style: none;
}